{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'book/css/style.css' %}">
{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                {% include 'partials/_categories.html' %}
            </div>
            <div class="col-md-9">
                <h1 class="mb-4">Home Page</h1>
                <a href="{% url 'trade_offers' %}" class="btn btn-outline-primary mb-3">📦 My Trade Offers</a>
                <a href="{% url 'all_trade_offers' %}" class="btn btn-outline-primary mb-3"> 🛍️View All Trade Offers</a>

                <hr>
            
              

                <div class="row">
                    {% for book in books %}
                        {% if book.is_home and book.is_active %}
                        <div class="col-md-4 mb-4 d-flex align-items-stretch">
                          <div class="card h-100 w-100 shadow-sm">
                              <a href="{% url 'book_details' book.slug %}">
                                  <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}" style="height: 250px; object-fit: contain;">
                              </a>
                              <div class="card-body d-flex flex-column">
                                  <h5 class="card-title mb-2">
                                      <a href="{% url 'book_details' book.slug %}" class="text-decoration-none text-dark">
                                          {{ book.title }}
                                      </a>
                                  </h5>
                                  <p class="card-text mb-4">{{ book.description|truncatewords_html:10|safe }}</p>

                                  <div class="mt-auto">
                                    <a href="{% url 'book_details' book.slug %}" class="btn btn-sm w-100" style="background-color: #d8adad; color: white;">
                                        Look At Details
                                    </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'book/js/script.js' %}"></script>
{% endblock %}
